*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  width: 1140px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__list-container {
  overflow: auto;
  height: 298px;
  display: grid;
  gap: 30px;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 26px;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 390px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  max-width: 196px;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100%;
}

.content__video-card-description {
  max-width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  background-color: transparent;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 6px 70px;
  align-self: flex-end;
}

.more-button {
  padding-top: 6px;
  padding-bottom: 6px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus {
  outline: 0;
}
